.teto {
    text-align: center;
    color: white;
    background-color: black;
 height: 50px;
}
*{
 margin: 0px;
}
img {
    width: 200px;
    height: 100px;
}

body {
background-image: url(https://thumbs.dreamstime.com/b/fundo-cor-de-rosa-brilhante-vibrante-do-brilho-78524644.jpg);
background-repeat: no-repeat;
background-size: 100%;
}
h1 {
    text-align: center;
    color: aliceblue;
}
.i {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.btn btn-primary {
    width: 20000px;
}